.notification {
    position: fixed; z-index: 1000;
    padding: 5px; border: 1px solid black;
    font-size: 20px;  background: white;
    text-align: center;
  }
  .welcome {
    background: #b80000;
    color: yellow;
  }

/*!ejercicio 23 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* ocultamos la lista */
.menu ul {
  display: none;
}
/* al pasar el puntero por el título cambiamos al puntero con el dedo*/
.titulo {
  cursor: pointer;
}
/*Colocamos el icono delante del título antes de abrirlo*/
.menu .titulo::before {
  content: '▶ ';
  font-family: \F231;
  font-size: 90%;
  color: green;
}
/*Una vez abierto colocamos este otro delante*/
.menu.open .titulo::before {
  content: '▼ ';
}

/*Hacemos aparecer la lista*/
.open ul {
  display: block;
}

/*!ejercicio 24*/
.texto {
  background: #edf5e1;
  padding: 10px 20px 10px;
  border-top: solid 1px #bae47c;
  position: relative;
}

.btnCerrar {
  position: absolute;
  font-size: 110%;
  top: 0;
  color: rgb(238, 10, 10);
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}

/*!ejercicio 28*/

.fotoPrincipal {
  width: 440px;
  height: 564px;
}

.fotoSecundaria {
  width: 180px;
  height: 200px;
}

/*!ejercicio 29*/
.marcado {
  background: rgb(116, 240, 116);
}
